<!DOCTYPE html>
<html lang="en">
<head>
    <title>Access Log Report</title>
</head>
<body>
    {% if top_requested_pages %}
        <h1><u>TOP 10 REQUESTED PAGES</u></h1>
        <table>
            <tr>
                <th>Number of requests</th>
                <th>Page</th>
            </tr>
        {% for page, requests in top_requested_pages.items() %}
            <tr>
                <td>{{ requests }}</td>
                <td>{{ page }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if top_unsuccessful_requests %}
        <h1><u>TOP 10 UNSUCCESSFUL REQUESTED PAGES</u></h1>
        <table>
            <tr>
                <th>Number of requests</th>
                <th>Page</th>
            </tr>
        {% for page, requests in top_unsuccessful_requests.items() %}
            <tr>
                <td>{{ requests }}</td>
                <td>{{ page }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if top_hosts %}
        <h1><u>TOP 10 HOSTS THAT REQUEST PAGES</u></h1>
        <table>
            <tr>
                <th>Number of requests</th>
                <th>Page</th>
            </tr>
        {% for page, requests in top_hosts.items() %}
            <tr>
                <td>{{ requests }}</td>
                <td>{{ page }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if top_hosts_pages %}
        <h1><u>TOP 10 HOSTS AND TOP 5 REQUESTED PAGES</u></h1>
        {% for host, requests in top_hosts_pages.items() %}
            <p><u>Host: {{ host }}</u></p>
            <table>
            <tr>
                <th>Number of requests</th>
                <th>Page</th>
            </tr>
            {% for page, request in requests.items() %}
                <tr>
                    <td>{{ request }}</td>
                    <td>{{ page }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
    {% if successful_request_percentage %}
        <h1><u>PERCENTAGE OF SUCCESSFUL REQUESTS</u></h1>
        <p>Successful requests: {{ successful_request_percentage[0] }}</p>
        <p>Total requests: {{ successful_request_percentage[1] }}</p>
        <p>Percentage: {{ successful_request_percentage[2] }}</p>
    {% endif %}
    {% if unsuccessful_request_percentage %}
        <h1><u>PERCENTAGE OF UNSUCCESSFUL REQUESTS</u></h1>
        <p>Unsuccessful requests: {{ unsuccessful_request_percentage[0] }}</p>
        <p>Total requests: {{ unsuccessful_request_percentage[1] }}</p>
        <p>Percentage: {{ unsuccessful_request_percentage[2] }}</p>
    {% endif %}
</body>
</html>